.home {
  position: absolute;
  margin: auto;
  width: 50%;
  left: 25%;
  top: 15%;
  height: 100%;
}

.title {
  text-align: center;
  margin-right: 20%;
  margin-bottom: 3%;
}

.searchInput {
  display: inline-block;
}

#input {
  width: 70%;
}

#inputBtn {
  margin-left: 1%;
}

.searchResults {
  margin: 3% auto;
}